@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: oklch(39.1% 0.09 240.876);
    --color-secondary: oklch(50% 0.1 240);

    --color-bg-body: oklch(98.5% 0 none);
    --color-bg-card: oklch(100% 0 none);
    --color-border-subtle: oklch(90% 0 none);

    --color-text-main: oklch(14.5% 0 none);
    --color-text-muted: oklch(45% 0 none);

    --color-surface: var(--color-bg-card);
    --color-accent: var(--color-primary);
    --color-on-dark: oklch(98.5% 0 none);
    --color-sidebar: oklch(14.5% 0 none);

    --color-light-1: var(--color-bg-body);
    --color-light-2: var(--color-border-subtle);
    --color-dark-1: var(--color-text-main);
    --color-dark-2: var(--color-text-muted);

    --font-sans: "Nunito Sans", sans-serif;

    --text-xs: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
    --text-sm: clamp(0.875rem, 0.8rem + 0.375vw, 1rem);
    --text-base: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
    --text-lg: clamp(1.125rem, 1rem + 0.625vw, 1.25rem);
    --text-xl: clamp(1.25rem, 1.1rem + 0.75vw, 1.5rem);
    --text-2xl: clamp(1.5rem, 1.3rem + 1vw, 2rem);
    --text-3xl: clamp(1.875rem, 1.5rem + 1.875vw, 2.5rem);
    --text-4xl: clamp(2.25rem, 1.8rem + 2.25vw, 3rem);
}

.dark {
    --color-bg-body: oklch(25% 0.02 240.876);
    --color-bg-card: oklch(29% 0.022 240.876);
    --color-border-subtle: oklch(38% 0.024 240.876);

    --color-text-main: oklch(95% 0.008 240.876);
    --color-text-muted: oklch(76% 0.015 240.876);

    --color-primary: oklch(39.1% 0.09 240.876);
    --color-secondary: oklch(50% 0.1 240);

    --color-surface: var(--color-bg-card);
    --color-accent: oklch(72% 0.09 240.876);
    --color-sidebar: oklch(20% 0.02 240.876);

    --color-light-1: var(--color-bg-body);
    --color-light-2: var(--color-border-subtle);
    --color-dark-1: var(--color-text-main);
    --color-dark-2: var(--color-text-muted);
}

@layer base {
    body {
        background-color: var(--color-bg-body);
        color: var(--color-text-main);
    }
}